.fab:hover {
    color: blue;
}
.btn-primary:hover{
    background-color: rgb(12, 231, 12);
}
.bttn:hover{
    background-color: black;
    color: white;
}
.q1{
    border-left: 1px solid rgb(47, 47, 165);
}
.q2{
    border-right: 1px solid rgb(47, 47, 165);
}
.ans {
    font-family: 'Lobster', sans-serif;
}
.sentance{
    color: rgb(11, 171, 192);
}
.modal{
    height: 80vh;
}