.fab:hover {
  color: blue;
}

/* .btn-primary:hover{
    background-color: rgb(12, 231, 12);
} */
.bttn:hover {
  background-color: black;
  color: white;
}

.q1 {
  border-left: 1px solid rgb(47, 47, 165);
}

.q2 {
  border-right: 1px solid rgb(47, 47, 165);
}

.ans {
  font-family: 'Lobster', sans-serif;
}

.sentance {
  color: rgb(11, 171, 192);
}

.modal {
  height: 80vh;
}

.bn48 {
  background: linear-gradient(90deg, #1e39a5, #c50e07);
  background-size: auto;
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 300% 300%;
  -webkit-text-fill-color: transparent;
}

.card-img-top {
  transition: transform 0.3s ease-in-out;
}

.card:hover .card-img-top {
  transform: scale(1.5);
  margin-top: -10px;
  /* Adjust the value based on your preference */
}

.card:hover {
  background-color: rgb(253, 253, 253);
}

.spread-animation {
  position: relative;
  overflow: hidden;
}

.spread-animation::before {
  content: "";
  position: absolute;
  /* background: rgba(5, 228, 16, 0.5); Adjust the color and opacity as needed */
  background: rgba(228, 248, 250, 0.5);
  color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 100% 100%;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.spread-animation:hover::before {
  transform: scaleX(1);
}

.carousel-fade {
  filter: brightness(90%);
  opacity: 83%;
}




/* Carousel Fade animation ------------------*/

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-fade>.carousel-inner> :not(.active) {
  /* opacity: 0; */
  display: block !important;
}

/* ------------------------------------------- */